body {
  background-color: #529942;
  background-image: linear-gradient(#529942, black);
  background-position:top left;
  background-attachment:fixed;
}

h1 {
  color: black;
  font-family: Courier New;
  margin-left: 20px;
  text-align: center;
}

p {
  text-align: center;
}
img {
	border-radius: 50%;
}

.tituloPart{
	margin-left: 60px;
}
.item {
	font-family: Lucida Console;
	background-color: rgba(0,0,0,.5);
	color: white;
	text-align: center;
	font-size: 1.2em;
	 margin-left: 70px;
	 margin-right: 0px;
	 padding: 0px 10px;
}

.itemUm {
	font-family: Lucida Console;
	background-color: rgba(0,0,0,.2);
	color: white;
	text-align: center;
	font-size: 1.2em;
	 margin-left: 0px;
	 margin-right: 0px;
	 padding: 0px 10px;
}

.itemDois {
	font-family: Lucida Console;
	background-color: rgba(0,0,0,.5);
	color: white;
	text-align: center;
	font-size: 1.2em;
	 margin-left: 0px;
	 margin-right: 0px;
	 padding: 0px 10px;
}

.bloco {
	font-family: Lucida Console;
	background-color: rgba(0,0,0,.5);
	color: white;
	margin: 5px;
	text-align: center;
	font-size: 1.2em;
}

.sidenav {
  height: 100%;
  width: 90px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  box-shadow: 0px 0px 5px #fff;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
